[2014-10-22 23:19] bjoshuanoah opened #2 "oplog.stop() crashing server"
I'm calling oplog.stop() and it's crashing the server.

Here is the stack trace:

    /Users/bnoah/Dev/socialcasino/dbHistory/server/node_modules/mongo-oplog/node_modules/mongodb/lib/mongodb/connection/base.js:242
        throw message;
              ^
    MongoError: Connection Closed By Application
    at Object.toError (/Users/bnoah/Dev/socialcasino/dbHistory/server/node_modules/mongo-oplog/nod

[2014-12-03 22:52] pakastin opened #6 "With MongoDB 1.x oplog tail start takes quite a long time – 2.x is faster"
You should update to MongoDB 2.x – it's way faster! Just to let you know..

[2015-01-06 17:28] cbratschi commented on #2
I have the exactly same problem. However, in my case I want to shutdown the oplog connection once it is no longer being used.

I tried to catch the exception but the complete app was still crashing, even if domains were used.

The error handler was never called:

            this.oplog.conn.db.on('error', function (err) {
                console.error(err.message); //FIXME
            });

@cayass

[2015-03-20 15:39] ColmHally opened #9 "Oplog filters without a wildcard character unexpectedly match namespaces as if they *had* a wildcard character"
If I have a mongo-oplog tailer and I use a filter for a namespace such as `testDb.test`, when I insert documents into the `testDb.testCol` collection, I see the inserts via the `MongoOplog.on()` function as expected.

However, if I then insert something into a similar-but-different collection, e.g. a collection named `testDb.test.unrelated`, I still see the inserts in the above `.on()` handler.

#

[2015-03-25 07:06] yskeat commented on #2
Same problem here.
My use case is using the oplog to notify app admin for data change.
Once admin logout, I will stop the oplog without exit my backend engine.
But call oplog.stop() will cause my backend engine crash.

[2015-03-25 15:50] cayasso commented on #2
@yskeat can you please try the develop branch with has 0.2.x https://github.com/cayasso/mongo-oplog/tree/develop this will be the next release, the api is a bit different but should work fine, you can check the tests for api usage

[2015-04-20 10:43] ColmHally commented on #9
Hey @cayasso, looks like this issue has been fixed by the guys maintaining the `wildcard` module:
https://github.com/DamonOehlman/wildcard/issues/5

Could you update the `wildcard` module to 1.1.1?

[2015-04-20 23:11] cayasso commented on #9
@ColmHally thanks for been proactive :)

[2015-04-20 23:11] #9 closed

[2015-04-21 09:32] ColmHally commented on #9
No problem, thanks for pulling in the fix!

[2015-04-25 08:00] cayasso commented on #6
@pakastin checkout 1.0.x which adds MongoDB 2 & 3 support https://github.com/cayasso/mongo-oplog/tree/develop

[2015-06-03 04:38] yskeat commented on #2
Sorry to tell I decided to switch to RDBMS due to mongodb query limitation.

[2015-06-25 09:31] afharo opened #11 "Can't connect with mongoDB new auth method"
This module reports an error authenticating to MongoDB deployments using the new auth method.

It is usually solved updating the MongoDB client.

[2015-07-07 21:22] cayasso commented on #2
Ok, I am closing this.

[2015-07-07 21:22] #2 closed

[2015-07-07 21:49] cayasso commented on #6
mongo-oplog@0.2.0 is out with latest mongodb driver

[2015-07-07 21:49] #6 closed

[2015-07-07 21:51] cayasso commented on #11
@afharo can you provide more insight on this issue you are having, perhaps a failing test case if still the case, mongo-oplog@0.2.0 is out with latest mongodb driver

[2015-07-21 16:56] afharo commented on #11
I've tried the new version and it is working now. Thank you so much.
Closing the issue...

[2015-07-21 16:56] #11 closed

[2015-07-24 16:55] jdarling opened #14 "Authentication against admin database fails for Mongo 3.0.4"
If you have a connection string such as:
[code]

And try to use mongo-oplog it will fail since it authenticates against the right database but then tries to use the oplog.rs database in the authenticated database.

Seems like the Connection (in connect.js) needs to call db.db('local') to get the local database and then perform the cursor on the oplog.rs collection.

Tried this, but that didn't com

[2015-07-24 18:06] jdarling commented on #14
The PR above fixes this issue.

[2015-07-24 18:32] cayasso commented on #14
@jdarling Awesome!!!
Can you add a test cases for this? and I will release version 0.2.2.

Thanks again!

[2015-07-24 18:34] jdarling commented on #14
Well, I was going to LOL problem is if you add authentication on Mongo 3.0 it adds universally.  So then all the other test cases fail.

Only thing I could come up with was to run tests, turn on security, run tests, turn off security.  Unfortunately, for me at least, that isn't an option.

I did test it against my local encrypted and secured version.

[2015-07-26 18:53] the1mills opened #16 "does this lib use polling"
Can you describe how this lib accomplishes listening to the oplog? Does it use polling or does it somehow hook into MongoDB?

[2015-07-26 19:12] ORESoftware commented on #16
I was wondering the same thing - I was going to use the oplog in order to create a realtime server - I'd like to use this lib just want to make sure it wasn't polling MongoDB. I looked through the code and it doesn't seem like there is polling.

[2015-07-26 19:14] cayasso commented on #16
@the1mills no polling, mongodb has Tailable Cursors that can remain open listening to document changes on capped collections, the oplog is a big capped collection for more info on this check this out http://docs.mongodb.org/manual/tutorial/create-tailable-cursor/ and here http://docs.mongodb.org/manual/core/replica-set-oplog/

[2015-07-26 19:14] #16 closed

[2015-07-26 19:15] #14 closed

[2015-07-26 19:18] the1mills commented on #16
cool thanks. I will try it out. what I was thinking of doing was using the lib and then finding out which collection each oplog event happened on. I would take the name of the collection, go to Redis and find a list of users currently connected and interested in that collection and then send updates to each connected user.

From the front-page of the repo:

[code]

I assume there is a way to get t

[2015-07-26 20:21] ORESoftware opened #17 "connecting to MongoOplog"
I have a typical local mongo database running at 127.0.0.1:27017/local

I am having trouble getting any info from it, with this setup:

[code]

I guess I am not sure what to pass as my second argument to the MongoOplog constructor.  None of my oplog.on() callbacks are firing. I want to listen to database 0, I guess, because that's only where the action is happening.

[2015-07-26 20:37] the1mills opened #18 "lib doesn't throw error"
hey all

this lib does not throw an error (or a warning) when the local db is not configured with replSet

it should at least print a one-time warning

what do you think? thanks

[2015-07-27 14:17] cayasso commented on #17
Hey @ORESoftware did you setup replication on mongodb? Try running the test suite with replication, let me know if that is working for you.

[2015-07-27 14:20] cayasso commented on #18
@the1mills Hummm this is a bit out of scope, because Oplog is all about replication, I am not sure if there is a way to detect that in MongoDB. But PR are welcome!

[2015-07-27 19:16] ORESoftware commented on #17
I was on Mongo 2.6, I switched to 3.0 and it worked, thanks

[2015-07-27 19:44] cayasso commented on #17
@ORESoftware awesome!!! but I am still wondering why it wouldn't work with 2.6. Any ideas?

[2015-07-27 19:44] #17 closed

[2015-07-27 21:56] ORESoftware commented on #17
I am on Windows at home, and was doing this at home - once I moved from 2.6 to 3.0 on Windows it worked. I really didn't get any clues as to why though, if I get a clue, will share for sure.

[2015-07-27 23:09] cayasso commented on #17
Ok np! BTW @ORESoftware I just released mongo-oplog@1.0.0-rc.1 your help testing would be much appreciated.

[2015-07-28 01:30] ORESoftware commented on #17
for sure, will give you some feedback soon

[2015-08-03 19:10] msamblanet opened #19 "Timeout will restart cursor from same point as initial tail"
Right now, if a [cursor timeout is received](https://github.com/cayasso/mongo-oplog/blob/master/index.js#L226) then ```tail()``` is called again.  However, it will restart the tail with the same since value as originally requested as opposed to resuming where it was left off, resulting in duplication of any transactions still in the oplog but already delivered to the application.

A similar thing

[2015-08-13 19:55] oreza opened #20 "Op.on invoked twice!"
op.on() gets called twice, even thought there is one message in oplog (db.oplog.rs)!

[2015-08-13 20:05] cayasso commented on #20
Hi @oreza can you be more specific on your issue, what version of `mongo-oplog` are you using, and op.on() which event? all events? even better can you post some code that shows the issue?

[2015-08-24 20:31] ORESoftware opened #21 "can this lib listen for creation of new collections"
I am not super familiar with MongoDB, but I assume that you can create a new collection in MongoDB without adding a document to the collection.

Furthermore, you can add databases and collections to databases on the fly pretty easily.

So is it possible for this library to listen for database or collection creation events?

[2015-08-25 08:27] cayasso commented on #21
Hey @ORESoftware I might think its possible to add by listening to the high level operations "c" or "db" of the oplog however this feature is out of scope for this project, I really don't see or cannot think of a compelling use case to add such a feature.

[2015-08-25 08:27] #21 closed

[2015-08-25 08:27] cayasso commented on #20
Closing do to no response

[2015-08-25 08:27] #20 closed

[2015-08-25 08:28] #18 closed

[2015-08-25 16:36] oreza commented on #20
Sorry about that, your message got buried in tons of junk mail. We are using standard Docker image for mongo, setup for replication and we are using mongo-oplog@0.2.1. Code is pretty straight forward, it
Setup looks like this:

// Setup Oplog cursor
var oplog = MongoOplog(process.env.MONGODB_OPLOG_URI, { ns: 'notifications.message' }).tail();
if (oplog) {
    console.log("Connected to mongo instan

[2015-08-25 17:03] cayasso commented on #20
Hey @oreza Can you try using the latest version mongo-oplog@1.0.0-rc.1 and let me know if you still see the same issue?

Thanks!

[2015-08-25 20:55] ORESoftware commented on #21
Listening to new db creations might be a little much, but creating collections on the fly happens frequently, so it might be useful for this lib to make it clear how to listen for those events? I can create a pull request if you think that listening for collection creation events is useful.

[2015-08-26 15:19] oreza commented on #20
Thank you for your response, I will let you know!

[2015-08-26 19:30] cayasso commented on #21
Sure I am open for PRs

JB

On Tue, Aug 25, 2015 at 2:55 PM, Operations Research Engineering +Software <
notifications@github.com> wrote:

--
J.B.

[2015-08-26 19:41] ORESoftware commented on #21
alright I will work on it thx

[2015-09-15 07:41] kondapallipavan commented on #20
Even I am facing same issues  with mongo-oplog@1.0.0-rc.1

Here I am placing my log
------------------------------------
2015-09-15 07:25:30.400  INFO  - Received realtime data ::::::::
 { ts: '6194639598832844801',
  h: '5489436227566672093',
  v: 2,
  op: 'u',
  ns: 'oculus.objects',
  o2: { _id: '5502f87ce4b084cced541841' },
  o:
   { _id: '5502f87ce4b084cced541841',
     _class: 'java.util.Has

[2015-09-15 07:44] kondapallipavan commented on #20
forget to give config json

--------------------
development.json
--------------------

{
	"mongo_oplog_url" : "******:********@mongomaster/local?authSource=oculus",
	"mongo_url" : "********:*******@mongomaster/oculus",
	"neo4j_url" : "neo4j01:7474/db/data",
	"mongo_db_ns" : "oculus.objects",
	"neo4j_username" : "neo4j",
	"neo4j_password" : "oculus321$",
	"mongo_db_conn_options" : {
		"db" : {

[2015-09-15 08:48] kondapallipavan commented on #20
Hi even  i am facing same issues with  mongo-oplog@1.0.0-rc.1.

Here  i copied
---------
my log
----------------------
2015-09-15 07:25:30.400 INFO - Received realtime data ::::::::
{ ts: '6194639598832844801',
h: '5489436227566672093',
v: 2,
op: 'u',
ns: 'oculus.objects',
o2: { _id: '5502f87ce4b084cced541841' },
o:
{ _id: '5502f87ce4b084cced541841',
_class: 'java.util.HashMap',
tenantId: '-1234',

[2015-09-16 02:58] ORESoftware opened #22 "cursor error"
On occasion I get this error, which currently crashes the server that reads the MongoDB oplog:

[code]

is this a known problem?

[2015-09-16 16:41] jdarling commented on #22
Line 226 in index.js needs to be updated, currently it is:

[code]

For new Mongo errors it should be:

[code]

[2015-09-16 16:42] jdarling commented on #19
This makes a lot of sense.  Hopefully this library gets some attention, I've had to move away from it due to errors, speed, and this reconnect/reset thing.

[2015-09-17 07:00] cayasso commented on #19
@msamblanet @jdarling mongo-oplog@1.0.0 is out with latest fixes. Thanks for reporting issues and for being patient

[2015-09-17 07:00] #19 closed

[2015-09-17 07:01] cayasso commented on #22
@ORESoftware @jdarling mongo-oplog@1.0.0 is out with latest fixes. Thanks for reporting issues and for being patient :)

[2015-09-17 07:01] #22 closed

[2015-09-18 10:15] kleysonr opened #23 "{ [Error: Cannot find module '../build/Release/bson'] code: 'MODULE_NOT_FOUND' }"
Yesterday trying to use mongo-oplog version 1.0.0, I was getting the following error:

**{ [Error: Cannot find module '../build/Release/bson'] code: 'MODULE_NOT_FOUND' }
js-bson: Failed to load c++ bson extension, using pure JS version**

To fix I've changed:
**bson = require('../build/Release/bson')**
to
**bson = require('../browser_build/bson')**

in the **node_modules/mongo-oplog/node_modules/m

[2015-09-18 10:22] kleysonr opened #24 "Add oplog.on('open', [fn])"
As a developer, I would like to use mongo-oplog with Javascript Promise.

So, it's necessary a point to return a 'resolve()' when the mongodb connection is estabilished.

Then, is it possible add a **oplog.on('open', [fn])** option ?

[2015-09-18 23:35] cayasso commented on #23
@kleysonr I removed the dependency of `bson.Timestamp` and replaced it with `bson-timestamp` in `mongo-oplog-cursor` module this should remove completely this build error.

Thanks for reporting!

[2015-09-18 23:35] #23 closed

[2015-09-19 00:01] cayasso commented on #24
@kleysonr Great idea!, I did some annotations to your PR, after those changes I will merge ;-)

[2015-09-20 07:27] cayasso commented on #24
I explained the reason I am closing this in the pull request.

[2015-09-20 07:27] #24 closed

[2015-10-23 03:15] ORESoftware opened #26 ""not authorized for query on local.oplog.rs""
I got this error for the first time today in an attempt to connect to a MongoDB cluster on a Compose deployment:

![image](https://cloud.githubusercontent.com/assets/11139560/10683693/8596cd44-78f9-11e5-9b98-6e9b8cd22780.png)

the original code looking like:

[code]

I did a Google but nothing obvious appears to me, know about this one?

[2015-10-27 13:57] Necromos commented on #26
Error message is clearly saying that you lack access to oplog.
Check out how to do this: https://docs.compose.io/common-questions/getting-oplog-access.html

[2015-11-12 03:50] #26 closed

[2016-01-19 04:46] peek4y opened #29 "Cursor is closed."
I upgraded to v1, and since then I constantly get this error, on 'error' event.

`{ [MongoError: Cursor is closed] name: 'MongoError', message: 'Cursor is closed', driver: true }`

I'm not sure what's going on.

[2016-03-16 09:27] itlodge opened #30 "Does work? Nothing output."
Hi, I try to use this module, and write some testing code below:

    var MongoOplog = require('mongo-oplog');
    var oplog = MongoOplog('mongodb://127.0.0.1:27017/local',
      {ns: 'test_sails.question'}).tail();
    console.log(oplog);
    oplog.on('update', function (doc) {
      console.log(doc);
    });
    oplog.on('error', function (error) {
      console.log(error);
    });

And I run th

[2016-03-16 21:00] cayasso commented on #30
@itlodge Did you setup your Mongo with Replica Set as mentioned at the end of the README?

[2016-03-17 02:44] itlodge commented on #30
@cayasso , Yes, I set my Mongo with Replica Set,   and I can see the oplog in a mongo shell.

[2016-03-17 02:48] cayasso commented on #30
Please try cloning the project and running the test suite.

On Wednesday, March 16, 2016, Yuanhang Zheng <notifications@github.com>
wrote:

--
J.B.

[2016-03-17 04:34] itlodge commented on #30
@cayasso , if I run only one mongod instance with option "master", can this module work?

[2016-03-17 05:19] itlodge commented on #30
Now it works after I set it with Replica Set. Thanks for your help!

[2016-03-17 05:19] #30 closed

[2016-03-21 11:55] itlodge opened #32 "Cannot connect to database "local" when need username and password"
Hi,
    I test this module in production mongodb with username and password. However, I [cannot create users on the local database](https://docs.mongodb.org/manual/reference/method/db.createUser/#local-database). How can I connect to database "local" and monitor oplog?

[2016-03-24 01:46] itlodge commented on #32
Finally I solved this problem.
First, create a user in admin for database 'local'.
[code]
Then, let mongo-oplog connect to 'admin' but use database 'local'.
[code]
Hope can help someone.

[2016-03-24 01:46] #32 closed

[2016-03-24 11:42] Muffasa opened #33 "what is the ns:'test.posts' means?"
can somone please explain me what is the ns connnectionString option? I could not find it on the mongo docs.
I have en issue where the events wont fire, and it think it has someting to do with it.
I tried to change it to my db name and collection:
`var oplog = MongoOplog('mongodb://127.0.0.1:27017/local', { ns: 'db_prod.feeds' }).tail();`
without any success.

[2016-03-28 01:47] ShipraShalini opened #34 "Does it store positon of last oplog record read?"
I am using mongo-oplog to tail mongo-oplog.
In current state, if my application is down, it misses all the changes during the down time.

I would like to know if there's a mechanism to store the postion of last read oplog record or any method to achieve this?

[2016-03-29 01:58] itlodge commented on #33
@Muffasa , yes,  "test" is the database and "posts" is the collection.

[2016-03-29 01:59] itlodge commented on #34
+1 for this requirement.

[2016-04-08 21:06] #33 closed

[2016-04-13 18:18] edupc commented on #29
Since it's been quite some time since this issue was open, I'd like to ask: @peek4y, did you solve your issue? I'm having trouble with it and no luck with google.

[2016-04-13 18:20] cayasso commented on #29
Sorry I been bombarded with work. Is the cursor not reconnecting at all?

[2016-04-13 18:23] edupc commented on #29
I'm still looking into it, but it seems that on my dev machine the issue never happens, but in production (AWS) it occurs many times, missing a lot of events. Once or twice it ran for hours without reconnecting.

[2016-04-14 02:22] peek4y commented on #29
Not really. We reverted back to the previous version. Dint check after that.

[2016-04-20 17:51] toszter commented on #34
What are the downsides/upsides of storing the last op in an unindexed capped table that's 1 document deep to achieve this independently of `mongo-oplog` sources?

[2016-05-23 18:54] WolfieWerewolf commented on #33
This is a very good question and probably should be in the actual documentation on the front page.

[2016-05-24 04:57] interfaith opened #36 "basic test"
oplog is active
{ "ts" : Timestamp(1464064258, 1), "h" : NumberLong(0), "v" : 2, "op" : "c", "ns" : "test.$cmd", "o" : { "drop" : "posts" } }

yet the simple code remains silent ?

[2016-05-24 15:54] #36 closed

[2016-05-24 19:32] interfaith opened #37 "mongo-oplog setup"
how must mongodb be used ?

i get 'oplog.$main'  via ExecStart=/usr/bin/mongod  --master -f /etc/mongod.conf

some 'other' oplog is needed via some other mongodb start command ??

[2016-05-24 22:13] cayasso commented on #37
This might help https://github.com/cayasso/mongo-oplog#run-tests

[2016-05-28 00:11] interfaith commented on #37
this.cn = options.coll || 'oplog.rs';

can this be changed to oplog.$main ?

[2016-05-31 15:05] vignesh-iopex commented on #29
Currently I'm calling `tail` again on stream end for reconnection.

It is probably because of the outdated cursor tailing method on [mongo-oplog-cursor](https://github.com/cayasso/mongo-oplog-cursor/blob/master/index.js). In latest node mongo driver documentation it uses the `addCursorFlag` method for tailing.

[2016-05-31 16:55] cayasso commented on #37
@interfaith you can always pass a different collection name using `options.coll`
[code]

But you need to set up the replica set, have you tried `ExecStart=/usr/bin/mongod  --replSet test -f /etc/mongod.conf`?

[2016-05-31 17:05] interfaith commented on #37
yes that is what we are doing now.
the ubuntu daemon fails to start

[Service]
User=mongodb
Group=mongodb
ExecStart=/usr/bin/mongod   -f /etc/mongod.conf
changing this fails

and in mongod.conf
setting up the mongo 3.2 variables for replSet also
fails

so ? why not avoid replSet and use --master ?

On Tue, May 31, 2016 at 9:55 AM, Jonathan Brumley <notifications@github.com>
wrote:

--
-----
Fight

[2016-05-31 17:44] interfaith commented on #37
replication:
   oplogSizeMB: 200
   replSetName: test

this fails in mongod.conf for 3.2

only launching via command line works ? not as a service

On Tue, May 31, 2016 at 10:05 AM, Mark Spowage <spowage@gmail.com> wrote:

--
-----
Fight back spam! Download the Blue Frog.
http://www.bluesecurity.com/register/s?user=c3Bvd2FnZTI3NTk%3D

[2016-05-31 21:11] edupc commented on #29
I ended up implementing a cursor and "event streaming" system from scratch with great success, it's been running for more than two weeks now and not a single event was lost or any connection was closed.
I tried closing the stream and tailing again on any error event and it ended up creating 400+ connections - that made me give up and create a solution using the latest mongo driver.

[2016-06-03 20:50] interfaith commented on #37
this worked
https://www.digitalocean.com/community/tutorials/how-to-install-mongodb-on-ubuntu-16-04

[2016-06-05 19:22] interfaith commented on #37
sudo systemctl unmask mongodb

[2016-07-13 02:20] jbockerstette opened #38 "How to listen to two collections with one oplog"
I want to monitor two collections. My collections are Apple.rpps and Apple.dps. If I want to monitor one collection I would do this:

`oplog = MongoOplog('mongodb://127.0.0.1:27017/local', {ns: 'Apple.rpps'}).tail();`

How can I change this statement to monitor both collections?

[2016-07-13 18:20] cayasso commented on #38
@jbockerstette you can do:
[code]

[2016-08-22 14:02] #38 closed

[2016-08-22 14:02] #37 closed

[2016-08-31 09:10] ebourmalo commented on #29
it seems we've encountered the same issue.
Nice job @edupc, any chance to see it published on a gist please?

[2016-08-31 12:11] edupc commented on #29
@ebourmalo [here](https://gist.github.com/edupc/f36dc203994064660d2b15d73db15d5e) it is.
The exported function expects something like this:

[code]

[2016-10-28 07:25] AilisObrian opened #40 "1.1.0 really released?"
https://www.npmjs.com/package/mongo-oplog

[2016-10-28 07:26] AilisObrian commented on #40
https://github.com/cayasso/mongo-oplog/pull/31

[2016-11-30 17:19] mpseay commented on #34
We store a "since" value in redis for this purpose. On the start of our app we grab the since value to determine the last message received. But.. recently ran into a problem with that as there is no index on the oplog so searching to a specific time has a pretty negative impact on the database.

[2016-12-09 20:55] cayasso commented on #29
Hi sorry for my awful late response I know its been long time since this issue was opened.
I just had a time to release 2.0.0 this release should address the issue in particular addressing a parent connection that was being opened but not closed https://github.com/cayasso/mongo-oplog/blob/1.x/index.js#L79

Feel free to open this issue if found any related issue.
Thanks!

[2016-12-09 20:55] #29 closed

[2016-12-09 20:58] cayasso commented on #40
I just released v1.1.0 and v2.0.0 sorry for the delay

[2016-12-09 20:58] #40 closed

[2016-12-09 21:28] cayasso commented on #34
As @mpseay mentioned oplog in MongoDB doesn't support indexes there is nothing much to do or to add here.

https://docs.mongodb.com/manual/core/tailable-cursors/

In the mean time I will close this but you can always reopen if there are any clever idea for this or issue related to the current implementation.

[2016-12-09 21:28] #34 closed

[2016-12-09 21:31] cayasso commented on #34
BTW mongo-oplog@2.0.0 is out :)

[2016-12-14 18:54] tarunbatra opened #41 "2.x.x requires babel-runtime"
I tried to install the package, but got this error while running code:
`Error: Cannot find module ‘babel-runtime/core-js/object/assign’`

My project doesn't use babel. Neither it's in the dependencies of the package. So is it a hidden global dependency?

[2016-12-14 21:16] cayasso commented on #41
Hi @tarunbatra! You don't need Babel to use `mongo-oplog` if you install it via npm. How are you installing and using the project?
What version specifically of `mongo-oplog` are you using?

[2016-12-15 04:46] tarunbatra commented on #41
Ok. So I went again and checked. `1.1.0` is working form but not `2.0.1`.
Node version is `6.9.1`. It's strange.

[2016-12-15 05:04] cayasso commented on #41
@tarunbatra I need an example of how you are using the code, maybe a gist or something so I can reproduce the issue and help you.

[2016-12-15 14:40] noamtz commented on #41
This happen to me as well.

Node version `6.9.2`
The code:

[code]

The error:
[code]

[2016-12-15 14:52] tarunbatra commented on #41
@cayasso I'm just using the example in Readme, like @noamtz

[2016-12-15 16:50] cayasso commented on #41
@tarunbatra @noamtz I just released `mongo-oplog@2.0.2` with a fix for this issue. The issue was that the `babel-polyfill` was placed in `devDependencies` instead of `dependencies` my bad :(

Hope you enjoy the new version and please report any issues you may find. I appreciate it.

[2016-12-15 16:50] #41 closed

[2016-12-15 20:17] tarunbatra commented on #41
Great! Thanx for the swift action @cayasso !

[2017-01-03 04:55] tony-kerz commented on #34
hi @cayasso sorry i'm new here, does the 2.0.0 version do anything around this feature request?

i was just reading [this blog post](http://www.askasya.com/post/bestversion/) which shows filtering by "previous timestamp" like:

[code]

so something like this would incur "table scan" like performance hit?
is there anyway for a client of your lib to specify a filter as above if they are prepared for

[2017-01-03 05:49] cayasso commented on #34
hi @tony-kerz

Yes because `ts` doesn't have an index in the oplog collection. This is our default behavior without the extra `lastApplied` collection [L26](https://github.com/cayasso/mongo-oplog/blob/master/src/stream.js#L26)

As @mpseay you can pass [`since`](https://github.com/cayasso/mongo-oplog/blob/master/src/index.js#L39) when creating your `mongo-oplog` instance. I will document this in th

[2017-01-03 10:00] gitawego opened #44 "[2.0.1]No more documents in tailed cursor"
the 2.x version gives always this error： ``No more documents in tailed cursor``,

no such problem at all for v1.x

[2017-01-03 12:51] tony-kerz commented on #34
thanks @cayasso, i see the `since` option [here](https://github.com/cayasso/mongo-oplog/blob/master/src/index.js#L36).

pragmatically tho, if the goal is to process __all__ events and the "subscriber" missed some because of down-time, isn't searching by `since` the only option?

[2017-01-03 12:55] tony-kerz opened #45 "question: what is the expected behavior if the primary fails/resurfaces?"

[2017-01-04 22:31] jbockerstette opened #46 "Upgraded from working version 1.1.0 to 2.0.2 and no longer receiving 'update' messages"
I upgraded from 1.1.0 to 2.0.2 and my working code no longer received callbacks for 'update' messages. The code works fine when using 1.1.0 but does not work in version 2.0.2. I verified that I can connect to mongo and tail without error in version 2.0.2. However, I no longer received any callbacks for changes to my collections. I followed your upgrade procedure and nothing is crashing, but I no l

[2017-01-04 23:15] cayasso commented on #46
Hi @jbockerstette
Does it work without filter? Can you try that just to see if its only the filter?

[2017-01-07 18:21] jbockerstette commented on #46
I tried this in both 1.1.0 and 2.0.2. It works fine in 1.1.0 but not in 2.0.2. The only callback I get is the tail callback and the oplog.stop callback.
[code]

[2017-01-18 10:22] tarunbatra commented on #44
Facing this in 2.0.2 also.

[2017-01-27 08:20] pradeepln4 commented on #44
Yes I am facing this issue in version 2.0.2. But it works fine in 1.x version.

[2017-02-06 17:06] sam-maass commented on #44
Same here. I switched to 1.x and everything works fine.

[2017-02-14 19:56] neverfox commented on #44
That's odd right? Because I doubt it would have been released with failing tests, yet the tests fail spectacularly (Mongo 3.4).

[2017-02-14 20:13] neverfox commented on #44
Actually, everything works great once I [initialized my replica set](https://docs.mongodb.com/manual/tutorial/deploy-replica-set/), as I should have.

[2017-02-17 02:15] mattfysh commented on #44
For any newbies out there (such as myself) make sure you keep the `/local` database as you're reading from the `local.opslog.<rsId>` capped collection. I thought for some reason that I needed to connect to the database with the collection I wanted to tail, and also tried capping that collection, but no such need.

[2017-02-17 02:24] mattfysh commented on #34
just found this option, although I did accidentally use the deserialized timestamp format for a while. Finally realised I need to grab the timestamp high value. thanks @cayasso for making this - very awesome library :)

[2017-02-23 11:34] AndreSteenveld opened #47 "Error: only one instance of babel-polyfill is allowed"
I have a project where I use mongo-oplog as a dependency, during the startup of the application babel-polyfill is imported. When importing monog-oplog the error "only one instance of babel-polyfill is allowed" is thrown from babel-polyfill.

I've encountered a similar issue before and the found that replacing `import 'babel-polyfill'` with `global._babelPolyfill || require( "babel-polyfill" );` so

[2017-03-01 16:03] nkarthik opened #48 "make test failed."
[root@stlrx2540m1-68 mongo-oplog-master]# mongo --host stlrx2540m1-68 --port 27021
MongoDB shell version: 3.2.10
connecting to: stlrx2540m1-68:27021/test
Server has startup warnings:
Wed Mar  1 10:46:59.119 I CONTROL  [initandlisten] ** WARNING: You are running this process as the root user, which is not recommended.
Wed Mar  1 10:46:59.119 I CONTROL  [initandlisten]
Wed Mar  1 10:46:59.120 I CONT

[2017-03-24 22:36] zachguo opened #49 "MongoError: no SNI name sent, make sure using a MongoDB 3.4+ driver/shell."
I got this error when trying to run example codes in readme with a newly created MongoDB Atlas cluster.
Does `mongo-oplog` support v3.4+?

[2017-03-31 22:14] zachguo commented on #49
I turned out that I was using mongo-oplog@1.1

[2017-03-31 22:14] #49 closed

[2017-04-01 16:08] vinespring commented on #44
Encountered this error and was able to solve by adding `&authSource=admin` to the end of my connection string. My user is located in my admin database, but this package needs to connect to the `/local` database to work correctly. Hope this helps someone else.

[2017-04-03 22:35] toszter commented on #44
This is still failing as of v2.0.2 and MongoDB 3.4.1 --- Anyone have any alternative ideas to try out?

[code]

[2017-04-03 23:50] toszter commented on #44
Ok, so, after reading the source, `mongo-oplog` wants to connect to the `local` database because that's where the replicaSet keeps its `oplog.rs` collection. IMO, because of the poor error description, we're led to believe we've reached the end-of-collection when in fact, we've totally tried to do one of two things:

1. Connecting to a mongod process that's _not_ operating as a part of a replicaSe

[2017-05-11 10:32] usamaB commented on #48
Im also getting an error on nmp install command. scr doesn't exist and others. See attached file. I really need this to work.
[Npm install Error.txt](https://github.com/cayasso/mongo-oplog/files/992688/Npm.install.Error.txt)

[2017-05-11 14:06] cayasso commented on #48
You need to run `npm run build` before `npm run test`

[2017-05-11 16:07] usamaB commented on #48
What do you mean by source instead of a proj. I want to test this functionality for a proj (ATM I have nothing). I have the replica setup. I want to use the event trigger-like functionality.
The install and run build commands are giving the same error. Src doesn't exist. I'm following the ReadMe.md.

[2017-06-17 16:05] andreagentili opened #50 "Omit throwing mongodb client error since there is no way to catch exceptions upstream"
When mongodb native client has an error, the error is emitted to ```.on('error'``` manager but it's even thrown, and there is no way to catch it (node exits abruptly).
To fix the issue I just commented this line:  https://github.com/cayasso/mongo-oplog/blob/master/src/index.js#L110.
All tests are still passing.

[2017-07-27 00:34] ORESoftware opened #51 "MongoError: No more documents in tailed cursor"
I am getting this MongoError:
```No more documents in tailed cursor```

Not sure what to do about it. I can't seem to capture it with
[code]

the MongoError shows up as an uncaughtException. How can I prevent the error or trap the error? Seems like an unnecessary error..something like the stream ends if there are no more documents, but the stream should not end.

[2017-07-27 00:36] ORESoftware commented on #51
Ok so I did my due diligence after the fact and found this:

https://github.com/cayasso/mongo-oplog/issues/44

will close

[2017-07-27 00:36] #51 closed

[2017-07-27 00:37] ORESoftware commented on #44
@toszter I read your answer here

https://stackoverflow.com/questions/29540909/finding-each-new-document-in-mongodb-oplog-collection-using-nodejs-does-not-work/43195977#43195977

I am not seeing how it's different than the directions in the README for this project, beyond the usage of the `--fork` option.

[2017-08-11 08:31] Gilwyad commented on #32
databse is not a valid option and database is not supported any more on 2.0.2

[2017-08-16 19:32] toszter commented on #50
I'm experiencing a similar issue related to timeouts... I can't seem to catch them or do anything about them and mongo crashes.

/Users/foo/svr/node_modules/mongo-oplog/node_modules/mongodb/lib/utils.js:123
    process.nextTick(function() { throw err; });
                                  ^
MongoError: connection 0 to mongo.moo.com:27017 timed out
    at Function.MongoError.create (/Users/foo/svr/

[2017-08-24 18:27] AddoSolutions commented on #44
I had this same issue, I guess it wansn't clear to me that I needed to connect to the local DB, not the DM I was watching.

Also, I needed to initialize the DB for usage as a replica master.  I wrote this in Node:

[code]

[2017-09-08 00:25] #50 closed

[2017-10-05 10:22] aslafy-z commented on #47
I made a fork ([aestetype/mongo-oplog](https://github.com/aestetype/mongo-oplog/)) who includes @AndreSteenveld's patch. It's published on npm through `@aestetype/mongo-oplog`.

[2017-11-15 02:44] hiteshsomani opened #55 "Need documentation for configuration with node app !!!"

[2017-11-21 13:15] zvictor opened #56 "regular expression denial of service vulnerability"
I couldn't find anyone reporting this yet, which is weird to me, so here it goes:

This package fails the [NSP check](https://www.npmjs.com/package/nsp) because `nsp < 2.6.9` is vulnerable to regular expression denial of service.

&nbsp; | Regular Expression Denial of Service
---------- | -----------
Name | debug
CVSS | 3.7 (Low)
Installed | 2.3.3
Vulnerable | <= 2.6.8 || >= 3.0.0 <= 3.0.1
Patched

[2017-11-21 22:54] cayasso commented on #56
@zvictor Thanks for reporting this, the issue is that old version of `debug` module, I will update and push a new release.

[2017-11-21 22:58] cayasso commented on #55
There is already some reference in the [README](https://github.com/cayasso/mongo-oplog#run-tests) but it seems not to be clear, I think because it is in the Run test section, I will update with clear steps.

[2017-11-21 23:00] #48 closed

[2017-11-22 01:44] cayasso commented on #44
Hi guys, I improved the readme file with better instructions on how to configure replica set. Hope this helps in future! https://github.com/cayasso/mongo-oplog/commit/fd9703c8be4fea5d7e0b968b35365c0908312c5e

[2017-11-22 01:44] #44 closed

[2017-11-22 01:45] cayasso commented on #55
Here you go https://github.com/cayasso/mongo-oplog/commit/fd9703c8be4fea5d7e0b968b35365c0908312c5e

[2017-11-22 01:45] #55 closed

[2017-11-22 01:46] cayasso commented on #56
Fixed [here](https://github.com/cayasso/mongo-oplog/commit/45ad3531935f1455d76a8e9a7ca28881fd68f1e5) and will soon be out in new release.

[2017-11-22 01:46] #56 closed

[2017-11-22 01:48] cayasso commented on #47
This commit https://github.com/cayasso/mongo-oplog/commit/fc2a1ec671b3cfd07f08009ccc10eb3b7e35841d should address this issue.

[2017-11-22 01:48] #47 closed

[2017-11-22 08:02] zvictor commented on #56
thank you so much for the quick reply :)

[2017-11-22 12:23] aslafy-z commented on #47
@cayasso Could you please npm deploy the fix ?

[2017-11-22 12:25] cayasso commented on #47
I was doing it while you were writing ;-)
2.1.0 is out now

[2017-11-22 15:55] Beanow commented on #44
Ran into this issue again. A `No oplog.rs collection in this database` error early on would help a lot :smiley:

[2017-11-27 21:24] airs0urce opened #58 "Filter broken in 2.1.0 release"
Looks like filter feature broken in version 2.1.0.

Code to reproduce:

[code]

Run this code and then update any record in "users" collection. You will get exception:

[code]

I suppose it happens because index.js includes filter.js:
[code]
and filter.js includes index.js:
[code]
and you can see "_require"  is empty object. Probably, circular dependencies issue.

[2017-11-29 13:31] erickmgriffin commented on #46
I am also trying to use 2.0.2 and seeing similar issues.  However, I am using a replica set with TLS encryption and was trying to figure out if that would have anything to do with it as well.  I am not seeing any inserts and no errors.

[2017-11-29 14:00] erickmgriffin opened #59 "Not seeing events in 2.1.0 for replica set configured environment"
I tried to install your latest software, but it throws the following warnings, which may explain why when I use it I am not seeing any oplog events.
[code]

**Is Linux not supported?**

[2017-11-29 14:04] erickmgriffin commented on #59
I kind of corrected the issue by using ```npm i -f```, but still not seeing any events.

[2017-11-29 15:42] erickmgriffin commented on #59
I re-wrote the above using promises, but that did not work either.  In fact, I am unable to explain why the stop got called, any thoughts?
[code]

Output:
[code]

[2017-12-01 14:32] erickmgriffin commented on #59
SO, I have done the following.  I have verified your minimal mocha tests against a simple (really simple) replica set with one member.  All mocha tests ran fine.
However, an actual real life replica set running remotely the tests will not work.  So I think there is much work to do.
I have a replica set setup, which I call simple, with 3 members running in TLS configuration, private IPs over VPN on

[2017-12-05 13:22] erickmgriffin commented on #59
I got this to work, but had to HACK the code.
[code]

[2017-12-12 11:59] erickmgriffin commented on #59
I fixed the code in several places so that it now passes all the tests.  I will contribute back once I have finished up my own project.  Several areas of thought, filters need work, comms over the wire need better threshold limits or adjustable, delete has some issue, readme needs more and better doc!

[2017-12-12 11:59] #59 closed

[2017-12-15 13:33] pinnprophead commented on #46
Just wondering if you have an on("error",... handler set up and/or an on("end"... Maybe that would give a clue as to why?

[2017-12-15 13:36] erickmgriffin commented on #46
Sorry, should have updated this, I got it to work.  It all comes down to making sure you are connected to the 'local' DB so that the oplog collection is available.

[2017-12-25 07:09] xuxiaoyuspallow opened #60 "how can I connect to remote server with an auth?"
Assume that the auth of admin database is("user","pwd"),and when I connected the server using the url `mongodb://user:pwd@ip:port/local`,it would't work.How can i fix it?

[2017-12-25 08:09] xuxiaoyuspallow commented on #60
well, i fix this by adding the authSource to url: `mongodb://user:pwd@ip:port/local?authSource=admin`

[2017-12-25 08:09] #60 closed

[2018-01-03 17:19] erickmgriffin opened #61 "MongoError: operation exceeded time limit"
Anyone seeing the above error on the oplog cursor?  My configuration is I have a remote machine which is my oplog source, and my oplog application is running locally pointing to a local mongoDB instance.  After some time and many insert, update and delete events, I will eventually get the following.  I am using mongoDB 3.4.x locally and my remote machine is 3.2.8.
[code]

[2018-01-03 20:52] erickmgriffin commented on #61
I have made the following changes to *stream.js* which have made the symptoms better, but not perfect.
[code]

[2018-01-04 22:36] erickmgriffin commented on #61
So I chased this far enough to know that in the mongodb npm driver, collection.js checks for and translates timeout, ie.
[code]

Therefore I made the following change to see if that would help at all.
[code]

[2018-01-04 22:49] erickmgriffin commented on #61
Next steps I hacked mongodb npm module, *lib/collection.js*
[code]

I see its getting set, not sure about its use yet:
[code]

[2018-01-08 13:18] erickmgriffin commented on #61
I think I found the real issue, the index.js code is not restarting the tail on timeout.  So I am testing the following.
[code]

[2018-01-10 12:40] erickmgriffin commented on #61
The above appears to work, I will create a PR to contrib this back.

[2018-02-15 07:06] ashishgoyal01 opened #63 "How to take care of automatic node fail-over and master changed"
While looking at the connection string which is as  :  const oplog = MongoOplog('mongodb://127.0.0.1:27017/local', { ns: 'test.posts' }),  I can see that you are just setting up the tailing on master node only.

But what in case of master changes ? as we are just setting up the tailing to a default master server, how will it start tailing with new master in this case ??

[2018-02-23 16:22] pbr0ck3r opened #64 "QUESTION: Multiple `ns`"
Is there a way to have multiple DB and tables in one statement?

I am trying the following...
`mongoOplog('mongodb://127.0.0.1:27017/local', {ns: 'test.users', ns: 'test.roles', ns:'test.companies'})`

I get events (insert, delete, update) to fire on`companies` but for some reason `roles, users` will not fire.

Is there another way I should be monitoring multiple tables in the database?

[2018-02-25 12:30] vinespring commented on #64
@pbr0ck3r Looks like it builds a `$regex` query for the `ns` field. ([stream.js](https://github.com/cayasso/mongo-oplog/blob/master/src/stream.js#L25))

You should be able to do `ns: 'test.roles|test.companies|test.users'`.

[2018-02-25 16:47] pbr0ck3r commented on #64
@vinespring... that does indeed work! Thanks so much!

[2018-03-16 06:26] ORESoftware opened #65 "typescript types aren't working"
I installed:
`
"mongo-oplog": "^2.1.0",
`

and then I have

[code]

I am seeing

<img width="1185" alt="screenshot 2018-03-15 23 25 57" src="https://user-images.githubusercontent.com/11139560/37506676-3b4fecc8-28a8-11e8-8a3f-6154cc801ff4.png">

Do you know why the types aren't being recognized? I see an index.d.ts file in this project. So I shouldn't have to use `@types/mongo-oplog` (which doesn't

[2018-03-16 06:29] ORESoftware commented on #65
I did some sleuthing because I am cool like that and I see this:

<img width="305" alt="screenshot 2018-03-15 23 27 47" src="https://user-images.githubusercontent.com/11139560/37506754-85645484-28a8-11e8-9c8f-6e0be14228ed.png">

The index.d.ts file is not being moved from src to lib. Instead of transpiled from src to lib, maybe consider just putting all the files in lib (.ts, .d.ts, .js).  I have

[2018-03-16 16:06] cayasso commented on #64
Closing since solution was pointed out.

[2018-03-16 16:06] #64 closed

[2018-03-16 16:07] #58 closed

[2018-03-18 16:36] Boxie5 commented on #65
I guess this maybe is because `src` folder is set to be ignored [here in .npmignore](https://github.com/cayasso/mongo-oplog/blob/master/.npmignore#L5)

thus, the [types](https://github.com/cayasso/mongo-oplog/blob/master/package.json#L6) info set in `package.json` is useless

[2018-05-14 17:18] doktoroblivion commented on #61
@heipei  No, I never created a PR for the above, but the above does appear to work for us.  Its strange since I am not sure what triggers the other message and have not been able to track down the cause, other than possible internal private network contstraints (we do not use external IPs with oplog).

[2018-06-05 11:14] kdekooter commented on #34
@cayasso where can we find the documentation of `since`? specially interested in what format is expected.

[2018-07-09 02:08] dandv opened #68 "Obsolete package?"
Wondering what the future of this package is, now that MongoDB 3.6 has implemented [change streams](https://docs.mongodb.com/manual/changeStreams/).

[2018-08-23 22:01] rb1econ opened #69 "Filters don't work because `events` is undefined in filters.js"

[2018-08-27 16:35] cayasso commented on #68
Yea I need to evaluate this my self and for our company internal process, as soon as we evaluate and do some testing with change streams, I will officially announce the future of the project.

[2018-08-27 16:36] cayasso commented on #69
Can you please provide more information on your issue and your environment setup, everything is working fine for us.

[2018-08-29 06:10] DKdekes opened #70 "Can't use authorized mongo connection string"
I have been using this module for some time with no problems. Enabled mongo to use authentication and now the listener is not working. I've tried these two strings so far:

'mongodb://<user>:<password>@localhost:27017/local'
'mongodb://<user>:<password>@localhost:27017/db_name'

Does this module support listening on a database that uses authentication?

[2018-09-05 13:57] th3nate opened #71 "Publish to NPM"
the published NPM version does not include #69
please publish the package when you can, thanks!

[2018-09-05 13:59] th3nate commented on #69
it's because @cayasso probably forgot to publish to NPM after they fixed this issue :)

[2018-09-16 12:12] th3nate commented on #71
hi, @cayasso
is it possible to publish the package to NPM? i'd really appreciate it.
Thanks!

[2018-09-16 16:29] cayasso commented on #65
This should be fixed in 2.1.4

[2018-09-16 16:29] #65 closed

[2018-10-23 13:56] kdekooter commented on #68
Any news @cayasso ?

[2018-12-11 14:51] lampe commented on #68
I was trying to listen to the oplog with the streams API but when I wanted to listen to the local DB I just got this:
`MongoError: $changeStream may not be opened on the internal local database`

[2019-02-27 11:31] raybellis commented on #46
I'm also experiencing this with 2.1.4, and in my case it appears to be because of the use of the `ns` field in the options.    If I remove it everything works fine.

[2019-03-11 05:58] georgeBl commented on #44
thank you, you are a legend!!!

[2019-06-20 17:07] flyinghawker opened #72 "Does this support mongodb 4+ or any plan for that ?"

[2019-10-24 07:12] ptata-rythmos opened #74 "Please update mongodb version to 3.3.3"
Please update the mongodb version
regarding security vulnarability "https://npmjs.com/advisories/1203" which is on mongodb package.

[2019-12-12 16:47] jonymusky commented on #44
this solve my issue

[2020-11-12 08:42] rezve23 opened #78 "MongoError: command find requires authentication"
Package version: *2.1.4*
Node.js Version: *v12.16.1*
MongoDb Version: *4.0.6*

Created an user from MongoDb atlas and set a custom role that has *read* access to *local* database. But still it has throws same error.

[code]

Also tried with different role. For example: *readWriteAnyDatabase*, *readAnyDatabase* etc. but nothing actually worked.

Is it possible to mention actually which role is requ

[2020-11-12 15:46] rezve23 commented on #78
My bad! Problem was in my code. db role *readWriteAnyDatabase* is working. I guess if i put *read* access to only *local* database that also will work.

[2020-11-12 15:46] #78 closed, assigned to nobody